@import "settings";


@import "bourbon";
@import "neat";

@import "mixins";

//Browser default style reset
@import "reset";



#sidebar {
	width: 120px; height: 100%;
	position: fixed;
	background: url(../assets/logo-clear.png) center 95% no-repeat #000;
	background-size: auto 200px;
	@include transition(0.15s ease all);
	@include breakpoint(baby-bear){
		display: none;
	}

	#logo {
		width: 35px;
		margin-top: 20px;
		margin-left: -5px;
		margin-bottom: 20px;
	}

	ul#nav {
		display: block;
		height: 100px;

		li {

			a {
				font-family: 'Museo Sans', sans-serif; font-weight: 400; font-size: 18px;
				color: #666;
				display: block;
				padding: 20px 0px;
				text-decoration: none;
				&:hover {
					background: #111;
					box-shadow: inset 0px 0px 5px 2px #000;
					color: #fff;
					text-shadow: 0px 0px 15px #aaa;
				}
			}

		}
	} // Close Nav

} // Close Sidebar

#main-container {
	margin-left: 120px;
	@include breakpoint(baby-bear){
		margin-left: 0px;
	}

	#toolbar {
		width: 100%; height: 75px;
		@include linear-gradient(top, #303030, #222);
		position: relative;
		@include breakpoint(baby-bear){
			background: url(../assets/logo.png) 13px 13px no-repeat #111;
			background-size: auto 60%;
		}

		.title {
			position: absolute;
			left: 20px; top: 25px;
			color: #ccc; font-size: 24px; font-family: 'Museo Sans';
			@include breakpoint(baby-bear){
				display: none;
			}
		}

		form {
			.search {
				position: absolute;
				right: 0px;
				height: 75px; width: 200px;
				border: none; outline: none;
				background: rgba(0,0,0,0.45);
				color: #666;
				font-size: 1.5em; font-weight: 300;
				padding: 0px 10px;
				text-transform: uppercase;
				@include transition(0.75s ease all);
				&:focus {
					color: #fff;
					background: #111;
					width: 350px;
					padding-left: 25px;
					@include transition(0.75s ease all);
				}
			}

			.react-circle {
				width: 30px; height: 30px;
				background: transparent;
				border-radius: 200%;
				border: solid 5px #666;
				position: absolute;
				right: 20px; top: 23px;
				@include transition(0.5s ease all);
				&:hover {
					background: #aaa;
					border: solid 6px #fff;
					@include transition(0.75s ease all);
					@include transform(scale(0.35));
				}
			}

			.react {
				border: solid 15px $green;
				@include transition(0.75s ease all);
				@include transform(scale(0.4));
			}

		}
	}

	#viewer {
		max-width: 100%; 
		background: #ccc;
		position: relative;
		overflow: auto;

		.wrapper {
			@include outer-container();
			max-width: 98% !important;
		}

		.code {
			@include span-columns(2);
			@include omega(6n);
			padding: 30px;
			background: #222;
			box-shadow: 2px 2px 0px 1px #666;
			margin-top: 1em;
			color: #fff; font-size: 18px; font-family: 'Museo Sans';
			text-align: center;
			border-radius: 10px;
			cursor: pointer;
			&:hover {
				background: darken($green, 10%);
			}

			@include breakpoint(papa-bear){
				@include span-columns(4);
				@include omega(3n);
			}

			@include breakpoint(mama-bear){
				@include span-columns(6);
				@include omega(2n);
			}

			@include breakpoint(baby-bear){
				@include span-columns(12);
				@include omega(1n);
			}
		}

		// Resizable handle
		.ui-icon {
			background: url(../assets/handle.jpg) #000 no-repeat center center;
			background-size: 90px 10px;
			height: 25px; width: 100px;
			right: 150px; bottom: -5px;
			border-radius: 5px 5px 0px 0px;
			position: absolute !important;
			cursor: row-resize;
			@include transition(0.15s ease all);
			&:hover {
				@include transition(0.15s ease all);
				height: 40px;
				background: url(../assets/handle.jpg) #000 repeat-y center center;
				background-size: 90px 10px;
			}
			@include breakpoint(baby-bear){
				display: none;
			}
		}
		.ui-resizable-handle {
			cursor: row-resize;
		}

		&.ui-resizable {
			max-width: 100% !important;
			position: relative;
		}

	}
}

@import "codemirror";
@import "theme";