@import "bourbon";
@import "neat";

@import "settings";
@import "mixins";

//Browser default style reset
@import "reset";

// Page Specific Styles
@import "login";



html { 
  background: url(../assets/forest-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#sidebar {
	width: 120px; height: 100%;
	position: fixed;
	background: lighten(#000, 5%);
	@include transition(0.15s ease all);
	@include breakpoint(baby-bear){
		display: none;
	}

	#logo {
		width: 35px;
		margin-top: 20px;
		margin-left: -5px;
		margin-bottom: 20px;
	}

	ul#nav {
		display: block;
		height: 100px;

		li {

			a {
				font-family: 'Museo Sans', sans-serif; font-weight: 400; font-size: 18px;
				color: #666;
				display: block;
				padding: 20px 0px;
				text-decoration: none;
				&:hover {
					background: #222;
					box-shadow: inset 0px 0px 10px 2px #000;
					color: #fff;
					text-shadow: 0px 0px 15px #aaa;
				}
			}

		}
	} // Close Nav

} // Close Sidebar

#main-container {
	margin-left: 120px;
	@include breakpoint(baby-bear){
		margin-left: 0px;
	}

	#toolbar {
		width: 100%; height: 55px;
		@include linear-gradient(top, #222, #111);
		position: relative;
		@include breakpoint(baby-bear){
			background: url(../assets/logo.png) 13px 13px no-repeat #111;
			background-size: auto 60%;
		}

		#dashboard {
			height: 55px; width: auto;
			@include linear-gradient(top, #333, #111);
			position: relative; float: right;
			margin-right: 20px;
			@include flexbox();

			.welcome {
				color: #fff;
				font-family: 'Museo Sans';
				padding: 0px 50px 0px 25px;
				img {
					height: 30px; width: auto;
					margin-right: 10px;
					border-radius: 200%;
					vertical-align: middle;
				}
			}

			.welcome-flash {
				@include transition(all ease 0.75s);
				@include linear-gradient(top, $green, #000); 
				background: $green;
			}

			.arrow {
				height: 100%; width: 55px;
				display: block; 
				background: url(../assets/arrow-down.png) center center no-repeat;
				background-size: 15px;
				cursor: pointer;
				box-shadow: inset 0px -10px 5px #111;
				&:hover {
					background: url(../assets/arrow-down.png) #222 center center no-repeat;
					background-size: 15px;
					box-shadow: inset 0px 0px 10px #000;
				}
			}
		}

		// Logged In Dropdown Toolbox
		#toolbox {
			width: 290px; height: auto;
			@include linear-gradient(top, #222, #171717);
			position: fixed; top: 55px; right: 20px;
			z-index: 999;
			display: none;
			border-radius: 0px 0px 10px 10px;
			box-shadow: inset 0px 0px 30px #222, 0px 0px 15px #222;

			// Tools
			ul {
				padding-bottom: 25px;
				a {
					display: block;
					padding: 20px;
					color: #fff;
					font-size: 18px; font-family: 'Museo Sans';
					border-bottom: solid 2px #333;
					border-radius: 0px;
					@include transition(0.35s ease all);
					&:hover {
						box-shadow: inset 0px 0px 5px #111;
						background: #303030;
						border-left: solid 5px $green;
						@include transition(0.15s ease all);
					}

					// Viewer Background Options
					&.theme {
						cursor: pointer;
						padding: 12px 20px; font-size: 16px;
					}

					&#jungle-toggle {
						background: url(../assets/jungle-thumb.jpg) center center;
						background-size: cover;
					}

					&#sleek-toggle {
						background: none;
						@include linear-gradient(top, #111, #000);
					}
				}
			}
		}

		.title {
			position: absolute;
			left: 20px; top: 25px;
			color: #ccc; font-size: 24px; font-family: 'Museo Sans';
			@include breakpoint(baby-bear){
				display: none;
			}
		}

	#search-bar {
		float: left;
		position: relative;
		.search {
			position: relative;
			height: 55px; width: 200px;
			border: none; outline: none;
			background: rgba(0,0,0,0.35);
			color: #666;
			font-size: 1.5em; font-weight: 300;
			padding: 0px 10px;
			text-transform: uppercase; letter-spacing: 4px;
			@include transition(0.75s ease all);
			&:focus {
				color: #fff;
				background: rgba(255,255,255,0.15);
				width: 350px;
				padding-left: 25px;
				box-shadow: inset 0px 0px 5px #111;
				@include transition(0.75s ease all);
			}
		}

		.react-circle {
			width: 25px; height: 25px;
			background: transparent;
			border-radius: 200%;
			border: solid 5px #666;
			margin: 0px 10px;
			position: absolute; right: 10px; top: 13px;
			@include transition(0.5s ease all);
		}

		.react {
			border: solid 15px $green;
			@include transition(0.75s ease all);
			@include transform(scale(0.3));
		}
	}

		

	}

	#viewer {
		width: 100%; height: auto;
		padding: 0px;
		@include linear-gradient(bottom, #000, #252525);
		background-size: cover;
		/*x` background: url(../assets/forest-bg.jpg) no-repeat center center fixed; 
 	 	-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover; */
		position: relative;
		overflow: auto;

		h2 {
			color: #888;
			font-size: 36px;
			padding: 20px;
			font-family: 'Museo Sans';
			font-weight: 700;
		}

		hr {	
		    border: 0;
		    height: 0;
		    margin: 0px 20px;
		    border-top: 1px solid rgba(255, 255, 255, 0.35);	
		    border-bottom: 1px solid rgba(0, 0, 0, 0.9);	
		}

		.wrapper {
			@include outer-container();
			max-width: 98% !important;
			padding-bottom: 50px;
		}

		.code {
			@include span-columns(2);
			@include omega(6n);
			padding: 30px;
			background:  darken($green, 10%);
			border-radius: 10px;
			margin-top: 1.5em;
			color: #fff; font-size: 18px; font-family: 'Museo Sans';
			text-align: center;
			cursor: pointer;
			&:hover {
				color: #fff;
				background: darken($green, 25%);
			}

			@include breakpoint(papa-bear){
				@include span-columns(4);
				@include omega(3n);
			}

			@include breakpoint(mama-bear){
				@include span-columns(6);
				@include omega(2n);
			}

			@include breakpoint(baby-bear){
				@include span-columns(12);
				@include omega(1n);
			}
		}

		// Resizable handle
		.ui-icon {
			background: url(../assets/handle.jpg) #000 no-repeat center center ;
			background-position: relative;
			background-size: 200px;
			height: 20px; width: 100%;
			bottom: 0px !important;
			box-shadow: 0px 0px 5px 0px #000;
			position: absolute !important;
			cursor: row-resize;
			@include transition(0.15s ease all);
			@include breakpoint(baby-bear){
				display: none;
			}

		}
		.ui-resizable-handle {
			cursor: row-resize;
		}

		&.ui-resizable {
			max-width: 100% !important;
			position: relative;
		}

	}
}

@import "codemirror";
@import "theme";